apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-blue
  labels:
    app: nginx
    version: blue
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
      version: blue
  template:
    metadata:
      labels:
        app: nginx
        version: blue
    spec:
      containers:
      - name: nginx
        image: bitnamicharts/nginx:sha256-119b4e05ec803609904bfdb2bf617e6e5a51262138822dfe02974b5add769f5d.att
        ports:
        - containerPort: 80